.webmadewell {
  background-color: white;
}
body {
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.sample-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url("http://webmadewell.com/wp-content/uploads/2018/01/img-bg-sample-parallax-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 95px;
  z-index: 1000; 
}
.stdImg{
  height: 80px;
    width: 80px;
    z-index: 1001;
    position: fixed;
    top: 5px;
    left: 30%;
    border-radius: 10px;
}
.sample-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: MidnightBlue;
  opacity: 0.3;
}
.sample-header-section {
    /* height: 200px; */
  /* position: relative;
padding-top: 60px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color:darkslategray;
  text-shadow: 6px 6px 8px rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 400;
}
.sample-section-wrap {
  position: relative;
  background-color: gray;
}
.sample-section {
  position: relative;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}






/* *,*::before,*::after {
  margin: 0;
  padding: 0;
  line-height: inherit;
  box-sizing: inherit;
} */

/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #ff5e57;
  line-height: 2;
} */

.container1 {
 

  background-color: none;
/*   margin: 20vh auto; */
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4rem;
  padding: 10px;

}

.search__box {
  float: left;
  width: 0;
  height: 4rem;
/*   display: inline; */
  background: none;
  color: #f7f7f7;
  font-size: 1.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  position: relative;
  opacity: 1;
  transition: all .75s ease-in;
  cursor: pointer;
  
/*   border: 2px solid tomato; */
/*   margin-top: 5px; */
}
.search-Input{
  width:100%;
  background: linear-gradient(to right, #cf3af9, #9c85f8);
  border: 1px solid #fc65fc;
  border-radius: 215px;
  color:white;
}
.search-Input::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
/* .search__box:focus, .search__box:hover {
  background-color: #f1f2f6;
} */

.search__icon {
  box-sizing: border-box;
  
  font-size: 2.5rem;
  display: inline-block;
/*   justify-content: center;
  align-items: center; */
  margin-left: .8rem;
  margin-top: 0;
  cursor: pointer;
  position: absolute;
  color: #fa983a;
  transition: all .25s ease-in;
  padding: .7rem;
  border-radius: 50%;
}

.container:hover > .search__box {
  width: 85%;
  padding: 0 1rem;
}

.container:hover > .search__icon {
  background-color: #eee;
}

.show {
  width: 85%;
  border: 1px solid red;
}
.teachersCards{
    position: absolute;
   
    left: 3%;
    max-width: 94%;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}


h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
   
	background-color: #ebe8e8;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #808391;
	padding-top: 30px;
	position: relative;
	width: 32%;
    /* height: 300px;
	 */
	text-align: center;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

.card-container .pro {
	color: #291d5f;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	/* position: absolute;
	top: 30px;
	left: 30px; */
}

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
  background: linear-gradient(to right, #cf3af9, #9c85f8);
	border: 1px solid #fc65fc;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}

.skills {
	background-color: #9860c9;
	text-align: left;
	padding: 15px;
  color:#c3c3c7;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

footer {
    background-color: #6457be;
    color: #dddbdb;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

.btnStyle{
  position:absolute;
  left:5px;
  top:5px;
  background-color:darkslategrey;
}
.btnStyle:hover{
  background-color: gray;
  color: black;

}
.editBtb{
  background-color:darkslategrey;
}
.editBtb:hover{
  background-color: gray;
  color: black;
}
.serachBox{
  position: absolute;
  top:150px;
  width: 40%;
  left: 30%;
}
.photo{
  position: absolute;
  top: 0px;
  height: 80px;
  width: 80px;
  right:30%;
  border-radius: 30px;
  border:1px solid white;
}

